<H1 style="align: center; color: red; font-weight: bold">
    ATN STORE
</H1>

<div class="form-group">
    <a href="/toy" class="btn btn-success btn-lg btn-block">
        <i class="bi bi-file-plus-fill"></i> Insert Toy
    </a>
    <a href="/toy/list" class="btn btn-primary btn-lg btn-block">
        <i class="fa fa-list-alt"></i> View Toy List
    </a>
    <a href="/staff" class="btn btn-success btn-lg btn-block">
      <i class="bi bi-file-plus-fill"> Insert Staff Information</i>
    </a>
    <a href="/staff/list" class="btn btn-primary btn-lg btn-block">
        <i class="fa fa-list-alt"></i> View Staff Information List
    </a>
</div>