.mainLayout{
    margin-left:5.9%;
    background-color:white;
    margin-top:15px;
    padding:20px;
    width: 88%;
    max-width: 100%;
}
.bgr{
    background-image: url('/img/background.jpg');
}

.title{
    color: forestgreen;
    font-weight: bold;
}
